<!DOCTYPE HTML>
<html>
<head>
    @Styles.Render("~/Content/Site.css")

    <title></title>
</head>
<body>
    <div>

        @Html.ActionLink("На главную", "Index", "Home")

        <br />

        @RenderBody()

    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>